* {
  padding: 0;
  margin: 0; }

.body {
  display: grid;
  grid-template-columns: 0.7fr 1.1fr 1.2fr;
  grid-template-rows: 0.7fr 1.8fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "aside contenido contenido" "footer footer footer"; }

.body2 {
  display: grid;
  grid-template-columns: 0.7fr 1.1fr 1.2fr;
  grid-template-rows: 0.7fr 2.0fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "formulario formulario formulario" "footer footer footer"; }

.header__logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black; }
  .header__logo img {
    max-width: 300px;
    background-color: transparent; }

.nav {
  grid-area: nav;
  background-color: black; }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none; }
    .nav ul li:hover {
      background-color: #efe8b3;
      transform: scale(1.5);
      padding: 3px;
      border-radius: 15px; }

.nav2 {
  margin: 20px; }

.header2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo logo logo" "nav nav nav" "banner banner banner";
  grid-area: header;
  background-color: black;
  align-items: stretch; }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.4fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo logo logo" "nav nav nav" "banner banner banner";
  grid-area: header;
  background-color: black;
  align-items: stretch; }
  .header .banner {
    grid-area: banner;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .header .banner img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0%; }

.footer {
  grid-area: footer;
  background-color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 200px; }
  .footer .footer__imagenes li {
    display: inline-block;
    padding: 50px; }
  .footer .footer__imagenes img {
    max-width: 40px;
    max-height: 40px; }
    .footer .footer__imagenes img:hover {
      transform: scale(1.5); }

.contenido {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "titulo titulo" "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6";
  margin-left: 20px; }
  .contenido .contenido__titulo {
    grid-area: titulo;
    font-weight: 200;
    color: #012061;
    font-size: 40px;
    font-family: 'Amaranth', sans-serif;
    text-align: center; }
  .contenido .contenido__imagen1 {
    grid-area: imagen1; }
  .contenido .contenido__imagen1 img {
    max-width: 200px; }
  .contenido .contenido__imagen2 {
    grid-area: imagen2; }
  .contenido .contenido__imagen2 img {
    max-width: 200px; }
  .contenido .contenido__imagen3 {
    grid-area: imagen3; }
  .contenido .contenido__imagen3 img {
    max-width: 200px; }
  .contenido .contenido__imagen4 {
    grid-area: imagen4; }
  .contenido .contenido__imagen4 img {
    max-width: 200px; }
  .contenido .contenido__imagen5 {
    grid-area: imagen5; }
  .contenido .contenido__imagen5 img {
    max-width: 200px; }
  .contenido .contenido__imagen6 {
    grid-area: imagen6; }
  .contenido .contenido__imagen6 img {
    max-width: 200px; }

.aside {
  grid-area: aside;
  background-color: linen;
  font-family: 'Amaranth', sans-serif;
  color: #012061;
  margin-left: 30px;
  text-align: center; }
  .aside .aside__lista li {
    margin-top: 50px;
    margin-left: 60px; }
    .aside .aside__lista li:hover {
      color: #050505;
      font-size: 25px; }
  .aside .aside__titulo {
    margin-top: 80px; }

.nosotros {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: auto; }
  .nosotros div p {
    font-size: 20px;
    color: goldenrod; }
  .nosotros h1 {
    font-family: 'Rakkas', cursive;
    font-size: 40px;
    margin-bottom: 50px; }

.prod {
  grid-area: formulario;
  background-color: #343131;
  font-size: 24px;
  font-weight: 800;
  color: gold; }
  .prod ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: auto; }
  .prod .conitos {
    display: flex;
    flex-direction: column;
    text-align: center; }

.locales {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 70%;
  margin: auto; }
  .locales div {
    margin: 30px; }
  .locales h1 {
    color: #012061;
    font-weight: 700;
    font-family: 'Kalam', cursive;
    background-color: linen;
    font-size: 50px;
    text-shadow: 0.1em 0.1em black; }
  .locales div h4 {
    font-weight: 400;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    color: #012061; }
  .locales div p {
    font-weight: 300;
    font-family: 'Kalam', cursive;
    font-size: 20px; }

.formulario {
  grid-area: formulario; }
  .formulario h3 {
    text-align: center;
    margin: 10px; }
  .formulario p {
    text-align: center; }
  .formulario .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .formulario .form input {
      text-align: center;
      width: 200px;
      height: 25px;
      border-radius: 15px;
      background-color: linen;
      margin: 10px; }
    .formulario .form textarea {
      border-radius: 10px;
      background-color: linen;
      margin-top: 10px; }
    .formulario .form button {
      margin-top: 5px;
      width: 70px;
      height: 25px;
      border-radius: 10px;
      color: black;
      background-color: #919191;
      font-size: 15px; }
      .formulario .form button:hover {
        background-color: black;
        color: white;
        transform: scale(1.2); }

@media (max-width: 587px) {
  .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "titulo titulo" "imagen1 imagen1" "imagen2 imagen2" "imagen3 imagen3" "imagen4 imagen4" "imagen5 imagen5" "imagen6 imagen6";
    margin-left: 20px; } }
