.aside {
    grid-area: aside;
    background-color: linen;
    font-family: 'Amaranth', sans-serif;
    color: rgb(1, 32, 97);
    text-align: center;

    .aside__lista li {
        margin-top: 60px;
        margin-left: 40px;
        &:hover{
            color: rgb(5, 5, 5);
            font-size: 25px;
        }
    }

    .aside__titulo {
        margin-top: 80px;
    }
}