.footer {
    grid-area: footer;
    background-color: black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 200px;
    .footer__imagenes li {
        display: inline-block;
        padding: 50px;
      }
    .footer__imagenes img {
        max-width: 40px;
        max-height: 40px;
        &:hover{
            transform: scale(1.5);
        }
      } 
  }