* {
    padding: 0;
    margin: 0;
  }

.body {
    display: grid;
    grid-template-columns: 0.7fr 1.1fr 1.2fr;
    grid-template-rows: 0.7fr 1.8fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "aside contenido contenido"
      "footer footer footer";
  }

  .navbar-brand img{
  max-width: 200px;
}

.nav-link{
  color: gold;
}

.container-fluid{
  background-color: black;
}

// extend
%contenidotitulo{
  font-weight: 200;
  font-size: 35px;
}
// mixin
@mixin fontstyle{
  color: rgb(1, 32, 97);
  font-family: 'Amaranth', sans-serif;
  text-align: center;
}